.htaccess
wp-config.php
/*
!.gitignore
!wv/
wv/*
!wv/themes/
wv/themes/*
wv/themes/roots-*/scripts.php
!wv/themes/roots-*
!wv/plugins/
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.log
sitemap.xml
sitemap.xml.gz

