#sidebar .widget h4 {
	border-bottom: 1px solid #363535;
	color: #F2F2F2;
}
#sidebar {
	background: none repeat scroll 0 0 #272625;
	color: #CDCDCB;
	text-shadow: 0 1px 1px #222222;
	border: 1px solid #3E3D3D;
}
#sidebar a {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#sidebar-me,#bp-login-widget {
	background-color: #222;
	border-bottom: 1px solid #363535;
	-webkit-box-shadow: 1px 3px 3px rgba(11, 11, 11, 0.4);
	box-shadow: 1px 3px 3px rgba(11, 11, 11, 0.4);
}
.my_member-ul li,.my_members-ul li,.my_group-ul li,.my_groups-ul li,.my_friends-ul li,.user_groups-ul li,.my_messages-ul li,.my_notifications-ul li,.my_blogs-ul li,.my_blog_posts-ul li {
	border-bottom: 1px dashed #3E3E3E;
}
#bp-profile li a {
	color: #CCCCCC;
}
#sidebar img.avatar,#sidebar ul.item-list li img.avatar,#sidebar div.item-avatar img {
	background: none repeat scroll 0 0 #222;
	border: 1px solid #343434;
}
#sidebar div.item-options {
	background: none repeat scroll 0 0 #222222;
	border-bottom: 1px solid #121212;
	color: #3C3C3C;
}
#sidebar span.activity {
	background: #222222;
}
#sidebar ul.item-list li {
	border-bottom: 1px solid #363535;
}
#sidebar .button {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#sidebar .button:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#sidebar a.loading {
	background-image: url(../../images/buddypress/ajax-loader-dark.gif) !important;
}
#bp-connect-buttons {
	background-color: #212121;
	border-bottom: 1px dotted #000000;
	border-top: 1px dotted #2C2C2C;
}
form#sidebar-login-form #side-user-login,form#sidebar-login-form #sidebar-user-pass {
	background: none repeat scroll 0 0 #333333;
	padding: 4px;
	width: 95%;
	border: 1px inset #333333;
	color: #CCCCCC;
	text-shadow: 0 1px 1px #222222;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* ============== */
/* ! BuddyPress   */
/* ============== */
#content .item-list-tabs {
	background: none repeat scroll 0 0 #272625;
	border-top: 2px solid #5B5858;
}
div.item-list-tabs ul li.selected a:hover,div.item-list-tabs ul li.selected a:hover,div.item-list-tabs ul li.current a:hover {
	background-color: #272625;
}
div.item-list-tabs ul li a span {
	background: none repeat scroll 0 0 #222;
	color: #DDD;
}
div.item-list-tabs ul li a,div.item-list-tabs ul li span {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	color: #999;
}
div#subnav.item-list-tabs ul li.current a,div#subnav.item-list-tabs ul li a {
	text-shadow: none;
}
div.item-list-tabs ul li a:hover {
	background: transparent;
}
div.item-list-tabs ul li.selected a span,div.item-list-tabs ul li.current a span {
	background-color: #111;
	border: 1px solid #222;
	color: #DDD;
	text-shadow: 0 1px 0 #222222;
}
