/* link colors */
a,a:visited,h1 a:hover,h2 a:hover,H3 a:hover,h4 a:hover,.item-title a:hover,h5 a:hover,.nivo-caption h3,h1#tag-title span,.base-menu ul li a span:hover,.base-menu ul a:hover,.base-menu ul li.sfHover a,.base-menu ul li.current-cat a span,.base-menu ul li.current_page_item a span,.base-menu ul li.current-menu-item a span,div.item-options a:hover,#sidebar #message p strong,div.item-list-tabs ul li a:hover {
	color: #45C1D2;
}
/* border colors */
.main-wrap {
	border-top: 5px solid #5CFFF7;
}
#sub-menu-wrap {
	border-color: #5CFFF7 #DDDDDD #9C9C9C;
}
div.item-list-tabs {
	border-bottom: 2px solid #5CFFF7;
}
#powered-by,#content .item-list-tabs {
	border-bottom: 2px solid #5CFFF7;
}
#member-box,#feature-box {
	border-top: 3px solid #5CFFF7;
}
/* subtle background */
#sidebar,.activity-list .activity-content .activity-inner,.activity-list .activity-content blockquote,form#whats-new-form #whats-new-textarea {
	background: none repeat scroll 0 0 #F9FCFC;
}
div.item-list-tabs ul li.selected a span,div.item-list-tabs ul li.current a span {
	background-color: #45BCD2;
}
