/* Use some CSS to hide horizontal navigation and settings item-nav */
div#subnav.item-list-tabs ul li, 
.settings #item-nav,
#content #object-nav {
	display: none;
}
/* We still need to show some stuff though */
div.item-list-tabs ul li.last,.group-admin .item-list-tabs ul li,.docs .item-list-tabs ul li {
	display: block !important;
}
/* Vertical Navigation for BuddyPress */
.sidebar-activity-tabs {
	padding-bottom: 20px;
}
#vertical-activity-tabs div#subnav.item-list-tabs {
	margin-bottom: 0px;
	background: transparent;
	margin-top: 0px;
}
#vertical-activity-tabs {
	background: none repeat scroll 0 0 transparent;
	margin-top: 0;
}
#vertical-activity-tabs,#group-navigation,#profile-navigation {
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#content #vertical-activity-tabs {
margin-bottom: 0px;
margin-top: 15px;
display: none;
}
#vertical-activity-tabs ul li {
	float: none !important;
}
#vertical-activity-tabs ul {
	overflow: inherit;
}
#object-nav {
	margin-bottom: 20px;
	padding-bottom: 0px;
}
#sidebar #profile-sidebar {
	margin-bottom: -60px;
}
.sidebar-activity-tabs ul {
	list-style: none outside none;
	margin: 20px 0 0;
}
.sidebar-activity-tabs ul li {
	padding-bottom: 3px;
	padding-top: 5px;
}
.sidebar-activity-tabs ul li a {
	display: block;
	padding-bottom: 10px;
	padding-right: 0;
	padding-top: 10px;
}
.sidebar-activity-tabs ul li.current,.sidebar-activity-tabs ul li.selected {
	padding: 10px 0 12px 20px;
}
.sidebar-activity-tabs .profile-subnav li.selected {
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 5px;
}
#item-body form#whats-new-form {
	margin-top: -20px;
	padding-bottom: 10px;
	padding-top: 20px;
}
.sidebar-activity-tabs ul li.current a,.sidebar-activity-tabs ul li.selected a {
	margin-bottom: -10px;
	margin-top: -5px;
}
#sidebar .item-list-tabs li.loading a {
	padding-left: 20px !important;
}