/*Global Styles*/
.page-template-wikiverse-start-php #content,
.single #content {
  background: transparent;
}


/************************************ Bricks & Grids************************************/

/*#brickdata{display:none;} this is the table containing all data about the bricks - necessairy for making the wall "build" */

.w2{
	
	width: 580px !important;
	
}
#map_canvas{
	
	width: 560px; 
	height:400px;
}

#temp_map{display:none;}

.fullscreen {
  
  width:100% !important;
  height: 100% !important;
}

#sidebar .brick {
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
}
#sidebar select {
  width: 100%;
}

#content .brick {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin: 4px;
    padding: 10px;
    position: relative;
    width: 290px;
}

#listing {margin:4px auto; overflow:visible !important;}

.brick p a {font-weight: bold; color:#525252;}
.brick p a:hover { color:#ccc;}
.brick p { color: #858585; text-align: justify;  margin:8px 5px 5px; font-size: 14px; font-family: Helvetica;}
.container img { max-width: 86% !important;}
.wikiforms div{ padding:5px;}
.wikiforms div *{ margin:3px;}

.highlight { border: 1px solid red; }
#walltitle{width:100%; margin-bottom:10px;}

#wikiform:focus,
{
background-color: #fff;
border-color: #fff;
}

.wikimenu {margin: 0 auto;}
.wikimenu .button, #wikiforms .button {margin:3px;}

span.cross {

    background: url("img/cross.png") no-repeat scroll center center transparent;
    display: none;
    height: 30px;
    left: -14px;
    opacity: 1;
    position: absolute;
    top: -15px;
    width:30px;
    z-index: 90;
	cursor: pointer;
	display: block;
}

#line{border-top:1px solid grey;}

#editWall, #saveWall{display:none;}

#menu {
    margin: -20px -20px 20px;
    padding: 10px 20px;
    text-align: center;
}


#moreWiki, #pictures{cursor: pointer;}


::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}



/* Isotope Filtering */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/*** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s; 
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}